body{
    margin: 0px;
}
/* Body Header*/
#body-header{
    height: 65vh;
    width: 100%;
    opacity: 0.9;
    background-image: url(C:/Users/Priyanshu/Desktop/download2.jfif);
    background-size: cover;
    background-position: center;

}
/* Horizontal List for navigation */
.list{
    list-style: none;
    padding-left: 0px;
}
.list li{
    display: inline;
    margin: 0px 38px 38px 0px;
}
.list li a{
    color: aliceblue;
    text-decoration: none;
}
.list li a:hover{
    color: red;
    border-bottom:0px  solid rgba(41, 15, 15, 0.651);
    transition: color 0.8s;
}
.text-center {
    text-align: center;
    
}
/* Name and Social Icons*/
#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color:black;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 20vh;
}
/* Horizontal List for social media */
.social-medias li{
    display: inline;
    margin: 0px 58px 58px 0px;

}
.social-medias {
 text-align:center;
}
.social-medias li:hover{
    color:  rgba(230, 196, 196);
    border-bottom:1px  solid white;
}
.social-medias li a img {
    width: 2rem;
    padding: 8px;
}
/*about*/
#about{
    height: auto;
    width: 100%;
    position: relative;
}
#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}


#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}
#section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
section:nth-child(2n){
    background-color: gray;
}
section:nth-child(n){
    background-color: white;
}